/* Default colours */
$grey: #efefef;
$orange: #f15a24;
$green: #338e5e;

$red_light: #dd523b;
$red_dark: #8a2818;

/* Sizes */
$notification-bar-height: 2.5em;
$raw-data-height: 0em;

body {
  font-family:'robotoregular', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222;
}

input {
  -webkit-appearance:none;
  -webkit-border-radius:0;
  border-radius:0;
  border:0;
  border-bottom:#EEE 1px solid;
  padding-bottom:1em;
  width:100%;
}

a {
  text-decoration:none;
  color:#000;
}

#outer_container {
  width:100vw;
  height:100vh;
  display:block;
}

#container {
  width: 800px;
  height: 478px;
  background: #FFF;
  border-radius: 4px;
  overflow:hidden;
}

#passive_view {
  width:100%;
  height:calc(100%);
  background: $green;
  position:relative;

  #performance_value {
    position:absolute;
    top:0;
    left:0;
    width:80%;
    height:21.5em;
    color: #000;
    display:block;
    justify-content:center;
    align-items:center;
    margin-left: 5em;
    color: #FFF;

    &.critical {
      color:#FFF;
    }

    div {
      #value {
        font-size:6em;
        margin-bottom:0.2em;
        margin-top: 0.5em;
        font-family:'robotomedium';
      }

      #caption {
        font-size:1.6em;
        font-family:'robotomedium';
        margin-bottom: 3em;
      }

      .notification {
        width: 50%;
        line-height: 1.4em;
        float: left;
      }
    }
  }

  #performance_graph {
    width: 100%;
    height: 21.5em;

    #top {
      background:#DDD;
    }

    #bottom {
      background:#FFF;
      border-top: #666 3px solid;
    }

    &.critical {
      #top {
        background:$red_light;
      }

      #bottom {
        border-top:#{$red_dark} 3px solid;
      }
    }
  }

  #device_map {
    height: 6em;
    width: 100%;
    overflow: hidden;
    display:flex;
    border-top:#EEE 1px solid;

    #device_wrapper {
      overflow: auto;
      float:left;
    }

    .device {
      height: 5em;
      width: 5em;
      background-position: top center;
      background-repeat: no-repeat;
      float:left;
      margin-right:0.5em;

      &:last-child {
        margin-right:0;
      }

      p {
        text-align: center;
        font-size: 0.8em;
        position: relative;
        top: 0;
      }

      .offline_symbol {
        opacity:0;
        position:relative;
        top:0;
        left:0;
        width:100%;
        height:3.5em;
        margin-bottom:0.5em;
        background-image:url('/public/images/close.svg');
        background-position:center center;
        background-repeat:no-repeat;
      }
    }
  }
}

#active_view {
  position: relative;
  width:100%;
  height:100%;
  display:none;
  background:#FFF;

  #nav {
    height:$notification-bar-height;
    width:100%;
    background:#FFF;

    p {
      line-height:$notification-bar-height;
      text-align:center;
      font-family:'robotomedium';
    }

    a {
      width:$notification-bar-height;
      height:$notification-bar-height;
      display:block;
      background-image:url('/public/images/back-arrow.svg');
      background-size: 70% 70%;
      background-position: center center;
      background-repeat: no-repeat;
      position:absolute;
      top: 0;
      left: 0;
      text-indent: -9999px;
    }
  }

  #content {
    #feed {
      background:#FFF;
      overflow-x:scroll;

      .feed_item {
        //border-bottom:#EEE 1px solid;
        font-size: 0.8em;
        padding: 0.75em 20% 0.75em 20%;

        h2, h3, p {
          font-size: 0.8em;
          margin-bottom: 0.5em;
          line-height:1.2;
        }

        h3, p {
          font-size:0.6em;
        }

        ul {

          li {
            font-size: 0.8em;
            margin-bottom: 1em;
          }
        }

        .timestamp {
          color:#AAA;
          font-size:0.8em;
        }

        &.critical {
          h2 {
            color:#000;
            margin-bottom: 1.5em;
          }
        }

        &:first-child {
          font-size: 1.6em;

          .timestamp {
            font-size: 0.8em;
          }
        }
      }
    }

    #raw_data {
      display:none;
      height:calc(#{$raw-data-height} - 2px);
      width:100%;
      border-top:#CCC 2px solid;
      overflow:auto;

      .data_point {
        text-align:center;
        width:25%;
        height:100%;
        float:left;
        padding-top:0.5em;

        h2 {
          font-size:0.8em;
          font-family:'robotomedium';
          margin-bottom: 0.5em;
        }

        .value {
          font-size: 2.5em;
          font-family:'robotobold';
          margin-right: 0.1em;
        }

        .units {

        }
      }
    }
  }
}

#notification_bar {
  width: 30%;
  background-color: #FFF;
  float: right;
  padding: 0.8em;
  border-radius: 10px;

  a {
    display:block;
    text-align: center;
    width:100%;
    height:100%;
  }

  .alert_icon {
    display:none;
  }

  &.alert {

    a {
      color: #000
    }

    .alert_icon {
      display: inline-block;
      background: $orange;
      width: 1.25em;
      height: 1.25em;
      line-height: 1.25em;
      border-radius: 1.25em;
      margin-right: 0.5em;
      color: #FFF;
    }
  }

  .button {
  }
}
