doctype html
html(lang="en")
  head
    title IF–CHOICE Router App
    meta(name="viewport" charset="utf-8" content="width=device-width" initial-scale="1.0")
    script(type="text/javascript" src="/public/javascripts/jquery.js")
    script(type="text/javascript" src="/public/javascripts/socket.io.js")
    script(type="text/javascript" src="/public/javascripts/app.js")
    link(rel="stylesheet" type="text/css" href="/public/stylesheets/app.css")
  body
    div(id="outer_container")
      div(id="container")
        div(id="passive_view")
          div(id="performance_value")
            div
              p(id="value") 100%
              p(id="caption") Notification here
              div(id="notification_bar")
                a(href="#") #[span(class="message") Find out more]
        div(id="active_view")
          div(id="nav")
            a(id="close_insights" href="#") Close
          div(id="content")
            div(id="feed")
              div(class="feed_item critical")
                h2 Notification of issue
                h3 Copy
                p Copy
