doctype html
html(lang="en")
  head
    title IF–CHOICE Router App
    meta(name="viewport" charset="utf-8" content="width=device-width" initial-scale="1.0")
    script(type="text/javascript" src="/public/javascripts/jquery.js")
    script(type="text/javascript" src="/public/javascripts/socket.io.js")
    script(type="text/javascript" src="/public/javascripts/app.js")
    link(rel="stylesheet" type="text/css" href="/public/stylesheets/app.css")
  body
    div(id="outer_container")
      div(id="container")
        div(id="passive_view")
          div(id="performance_value")
            div
              p(id="value") –
              p(id="caption") Broadband connection quality
          div(id="performance_graph")
            div(id="top")
            div(id="bottom")
          div(id="device_map")
            div(id="device_wrapper")
        div(id="notification_bar")
          a(href="#") #[span(class="alert_icon") !]#[span(class="message") Tap for latest information about your home network]
        div(id="active_view")
          div(id="nav")
            p About Your Home Network
            a(id="close_insights" href="#") Close
          div(id="content")
            div(id="feed")
              div(class="feed_item critical")
                h2 Poor line quality is slowing down your connection speed.
                h3 This is an external problem affecting other people in your area.
                p To get help, call AusConnect on 1-800-123-123.
                p(class="timestamp") Just now
              div(class="feed_item")
                h2 Your router is using its default password.
                h3 This can make it easier for your connection to be used without permission. You can change the default password below.
                div(style="width:50%; padding:0.5em; background:#EEE; margin-top:1em; margin-bottom:1em;")
                  p(style="margin-bottom:0; overflow:auto;")
                    input(type="password" style="font-size:1em; margin-bottom:0; padding:0.25em; line-height:0; height:1em; font-family:'robotoregular'; width:calc(75% - 0.5em); float:left;" placeholder="Type new password...")
                    a(href="#" style="margin-left:1em; text-align:center; border-bottom:#000 1px solid; display:inline; float:left;") Save
                p(class="timestamp") 2 days ago
              div(class="feed_item")
                h2 A new Android Phone has connected to your network.
                div(style="width:50%; padding:0.5em; background:#EEE; margin-top:1em; margin-bottom:1em;")
                  p(style="margin-bottom:0; overflow:auto;")
                    input(type="text" style="font-size:1em; margin-bottom:0; padding:0.25em; line-height:0; height:1em; font-family:'robotoregular'; width:calc(75% - 0.5em); float:left;" placeholder="Name this phone...")
                    a(href="#" style="margin-left:1em; text-align:center; border-bottom:#000 1px solid; display:inline; float:left;") Save
                p(style="margin-bottom:1em;")
                  a(href="#", style="border-bottom:#000 1px solid; margin-bottom:1em;") I don't recognise this phone
                p(class="timestamp") 3 days ago
              div(class="feed_item")
                h2 Your laptop that is usually connected to this network is disconnected.
                p
                  a(href="#" style="border-bottom:#000 1px solid;") This laptop isn't connecting to the Internet
                p(style="margin-bottom:1em;")
                  a(href="#" style="border-bottom:#000 1px solid;") Ignore this
                p(class="timestamp") 1 week ago
              div(class="feed_item")
                h2 Your network is in heavy use. This can make using the Internet slow.
                h3 Living Room TV and Bedroom TV are currently demanding a lot from your connection.
                p(class="timestamp") 2 weeks ago
              div(class="feed_item")
                h2 Your Internet connection will be slower than usual for the next 3 hours.
                h3 It's slowest on weekdays between 6pm and 8pm.
                p(class="timestamp") 2 weeks ago
              div(class="feed_item")
                h2 Your Internet connection has been dropped.
                h3 It drops frequently, about every 6 hours.
                p(style="margin-top:0.5em; margin-bottom:0.5em;")
                  a(href="#" style="border-bottom:#000 1px solid;") How can I fix this?
                p(class="timestamp") 3 weeks ago
            div(id="raw_data")
              div(id="data_download_speed" class="data_point")
                div
                  h2 Download Speed
                  p – Mbps
              div(id="data_upload_speed" class="data_point")
                div
                  h2 Upload Speed
                  p – Mbps
              div(id="data_uptime" class="data_point")
                div
                  h2 Last Disconnected
                  p – ago
              div(id="data_network_usage" class="data_point")
                div
                  h2 Network In Use
                  p –%
