html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'robotoregular';
  src: url("/public/fonts/Roboto-Regular-webfont.eot");
  src: url("/public/fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/public/fonts/Roboto-Regular-webfont.woff") format("woff"), url("/public/fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("/public/fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotomedium';
  src: url("/public/fonts/Roboto-Medium-webfont.eot");
  src: url("/public/fonts/Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("/public/fonts/Roboto-Medium-webfont.woff") format("woff"), url("/public/fonts/Roboto-Medium-webfont.ttf") format("truetype"), url("/public/fonts/Roboto-Medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotobold';
  src: url("/public/fonts/Roboto-Bold-webfont.eot");
  src: url("/public/fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/public/fonts/Roboto-Bold-webfont.woff") format("woff"), url("/public/fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("/public/fonts/Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Default colours */
/* Sizes */
body {
  font-family: 'robotoregular', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222; }

input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
  border-bottom: #EEE 1px solid;
  padding-bottom: 1em;
  width: 100%; }

a {
  text-decoration: none;
  color: #000; }

#outer_container {
  width: 100vw;
  height: 100vh;
  display: block; }

#container {
  width: 800px;
  height: 480px;
  background: #FFF;
  border-radius: 4px;
  overflow: hidden; }

#passive_view {
  width: 100%;
  height: calc(100% - 2.5em);
  background: #FFF;
  position: relative; }
  #passive_view #performance_value {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 21.5em;
    text-align: center;
    color: #000;
    display: flex;
    justify-content: center;
    margin-top: 3em; }
    #passive_view #performance_value.critical {
      color: #FFF; }
    #passive_view #performance_value div .router-name {
      text-align: left;
      font-family: 'robotomedium';
      margin-bottom: 0.5em; }
    #passive_view #performance_value div #value {
      font-size: 6em;
      margin-bottom: 0.2em;
      font-family: 'robotomedium'; }
    #passive_view #performance_value div #caption {
      font-size: 1em;
      font-family: 'robotomedium';
      padding-bottom: 1.2em; }
    #passive_view #performance_value div #caption-warning {
      font-size: 1.4em;
      font-family: 'robotomedium'; }
  #passive_view #performance_graph {
    width: 100%;
    height: 20em; }
    #passive_view #performance_graph #top {
      background: #DDD; }
    #passive_view #performance_graph #bottom {
      background: #FFF;
      border-top: #666 3px solid; }
    #passive_view #performance_graph.critical #top {
      background: #dd523b; }
    #passive_view #performance_graph.critical #bottom {
      border-top: #8a2818 3px solid; }
  #passive_view #device_map {
    height: 6em;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: #EEE 1px solid; }
    #passive_view #device_map #device_wrapper {
      overflow: auto;
      float: left; }
    #passive_view #device_map .device {
      height: 5em;
      width: 5em;
      background-position: top center;
      background-repeat: no-repeat;
      float: left;
      margin-right: 0.5em; }
      #passive_view #device_map .device:last-child {
        margin-right: 0; }
      #passive_view #device_map .device p {
        text-align: center;
        font-size: 0.8em;
        position: relative;
        top: 0; }
      #passive_view #device_map .device .offline_symbol {
        opacity: 0;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 3.5em;
        margin-bottom: 0.5em;
        background-image: url("/public/images/close.svg");
        background-position: center center;
        background-repeat: no-repeat; }

#active_view {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
  background: #FFF;
  top: -550px !important; }
  #active_view #nav {
    height: 2.5em;
    width: 100%;
    background: #efefef; }
    #active_view #nav p {
      line-height: 2.5em;
      text-align: center;
      font-family: 'robotomedium'; }
    #active_view #nav a {
      width: 2.5em;
      height: 2.5em;
      display: block;
      background-image: url("/public/images/back-arrow.svg");
      background-size: 70% 70%;
      background-position: center center;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      text-indent: -9999px; }
  #active_view #content #feed {
    background: #FFF;
    overflow-x: scroll;
    width: 100%;
    height: calc(600px - 2.5em - 0em); }
    #active_view #content #feed .feed_item {
      border-bottom: #EEE 1px solid;
      font-size: 1.2em;
      padding: 0.75em 20% 0.75em 20%; }
      #active_view #content #feed .feed_item h2, #active_view #content #feed .feed_item h3, #active_view #content #feed .feed_item p {
        margin-bottom: 0.5em;
        line-height: 1.2; }
      #active_view #content #feed .feed_item h3, #active_view #content #feed .feed_item p {
        font-size: 0.8em; }
      #active_view #content #feed .feed_item .timestamp {
        color: #AAA;
        font-size: 0.8em; }
      #active_view #content #feed .feed_item.critical h2 {
        color: #f15a24; }
      #active_view #content #feed .feed_item:first-child {
        font-size: 1.6em; }
        #active_view #content #feed .feed_item:first-child .timestamp {
          font-size: 0.8em; }
  #active_view #content #raw_data {
    display: none;
    height: calc(0em - 2px);
    width: 100%;
    border-top: #CCC 2px solid;
    overflow: auto; }
    #active_view #content #raw_data .data_point {
      text-align: center;
      width: 25%;
      height: 100%;
      float: left;
      padding-top: 0.5em; }
      #active_view #content #raw_data .data_point h2 {
        font-size: 0.8em;
        font-family: 'robotomedium';
        margin-bottom: 0.5em; }
      #active_view #content #raw_data .data_point .value {
        font-size: 2.5em;
        font-family: 'robotobold';
        margin-right: 0.1em; }

#notification_bar {
  text-align: center;
  border-radius: 9.25px;
  background: #dd5238;
  width: 20%;
  margin: auto;
  margin-top: 0.6em;
  margin-bottom: 3em;
  padding: 0.6em; }
  #notification_bar a {
    text-align: center;
    color: #FFF; }

@media (min-width: 800px) {
  #outer_container {
    display: flex;
    justify-content: center;
    align-items: center; }
  #container {
    width: 1000px;
    height: 600px;
    background: #FFF; } }
